<div class="depot_form">

<% if flash[:alert] %>

<p id="notice"><%= flash[:alert] %></p>

<% end %>

<%= form_tag do %>

<fieldset>

<legend>Please log in</legend>

<div>

<%= label_tag :name, 'Name:' %>

<%= text_field :name, params[:name] %>

</div>

<div>

<%= label_tag :password, 'Password:' %>

<%= password_field_tag :password, params[:password] %>

</div>

<div>

<%= submit_tag "Login" %>

</div>

</fieldset>

<% end %>

</div>
